$dark-bg: #1B1A1A;      
$muted-brown: #645C55;   
$light-cream: #ECE7E4;   
$pure-white: #FFFFFF;    
$dark-grey: #403E3B;     
$off-white: #F7F7F7;     
$warm-beige: #CEC4BC;    
$font-primary: 'Poppins-Black', sans-serif;
$font-primary-bold: 'Poppins-Bold', sans-serif;
$font-primary-extra-light: 'Poppins-ExtraLight', sans-serif;

